/* .rdt_Table {
}
.rdt_TableRow {
}
.rdt_TableCol {
}
.rdt_TableCol_Sortable {
}
.rdt_TableCell {
}
.rdt_TableHeader {
  margin: 0 !important;
  padding: 0 !important;
}
.rdt_TableFooter {
}
.rdt_TableHead {
  margin: 0 imo !important;
}
.rdt_TableHeadRow {
}
.rdt_TableBody {
}
.rdt_ExpanderRow {
} */

/* Remove margin and padding  */
.cinWRF {
  margin: 0 !important;
  padding: 0 !important;
}

/* .rdt_TableHead {
  color: red !important;
  background-color: red !important;
} */

.rdt_TableHeadRow {
  background-color: #12192c !important;
}

.rdt_TableCol {
  color: white !important;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
}

.rdt_TableCol :hover {
  color: beige !important;
}

.rdt_TableHeader {
  display: none !important;
}
